body {
	background: #eee;
}

#content {
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#content .main {
	padding-top: 20px;
}

#content .tb {
	padding-left: 20px;
	font-size: 14px;
	padding: 30px 40px;
}
.gallery {
	font-size: 14px;
	padding-left: 80px;
	padding-bottom: 30px;
}

#content .bg {
	height: 580px;
	background: url(../images/bg.png);
}

.fill {
	margin-left: 20px;
	margin-right: 20px
}

.title {
	text-align: center;
	line-height: 20px;
	margin: 20px auto 10px;
	font-size: 20px;
	font-weght: bold;
	margin-bottom: 20px;
}

.nopadding {
	padding-top: 0px;
	padding-bottom: 0px;
}

.center {
	text-align: center;
}

.select_box {
	width: 50%;
	margin: 10px auto;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
}

.caltalog_label {
	float: left;
	font-size: 18px;
	font-wight: bold;
	margin: 7px 5px 5px;
}

.caltalog_name {
	width: auto;
	font-size: 18px;
	font-wight: bold;
	margin: 0px 5px 0px;
}
.cellcenter{
	text-align:center;
	vertical-align:middle;
}
.cellleft{
	text-align:left;
	vertical-align:middle;
}
.label1 {
	display: inline-block;
}
.well-top{
	margin-top:20px;	
}
.detail {
	float: left;
	font-size: 14px;
	margin: 7px 5px 5px;
	color: #006699;
	font-style: italic;
	font-wight: bold;
}
.shop_name{
	font-family: "Microsoft YaHei", "微软雅黑", "Arial";
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
}
#catalogs {
	float: left;
	display: inline-block;
}

.square-thumb {
	width: 150px;
	height: 150px;
	background-image: url("../images/loadingplaceholder.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.pull-middle {
	margin: 10px;
}

.bs-callout {
	padding: 10px;
	margin: 0px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px
}

.bs-callout h5 {
	margin-top: 0;
	margin-bottom: 5px
}

.bs-callout p:last-child {
	margin-bottom: 0
}

.bs-callout code {
	border-radius: 3px
}

.bs-callout+.bs-callout {
	margin-top: -5px
}

.bs-callout-danger {
	border-left-color: #d9534f
}

.bs-callout-danger h5 {
	color: #d9534f
}

.bs-callout-warning {
	border-left-color: #f0ad4e
}

.bs-callout-warning h5 {
	color: #f0ad4e
}

.bs-callout-info {
	border-left-color: #5bc0de
}

.bs-callout-info h5 {
	color: #5bc0de
}

.loginContainer{
    background: #444 url("../images/carbon_fibre_big.png");
    font-family: "Microsoft YaHei", "微软雅黑", "Arial";
}
.loginBox {
    width: 420px;
    height: 230px;
    padding: 0 20px;
    border: 1px solid #fff;
    color: #000;
    margin-top: 40px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 15px #222;
    background: -moz-linear-gradient(top, #fff, #efefef 8%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
    font: 11px/1.5em 'Microsoft YaHei';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -210px;
    margin-top: -115px;
}

.loginBox h2 {
    height: 45px;
    font-size: 20px;
    font-weight: normal;
}

.loginBox .left {
    border-right: 1px solid #ccc;
    height: 100%;
    padding-right: 20px;
}

.regBtn {
    margin-top: 21px;
}
.loginLogo{
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 45px 5px 30px -5px;
}
.default_display{

    font-family: "Microsoft YaHei", "微软雅黑", "Arial";
    font-weight: bold;
    color: #0099FF;
}

#myTabContent{
    width: 95%;
    margin:10px 10px 20px;
    height: auto;
}
#myTabContent a{
    padding: 3px;
    margin: 3px;
    float: left;
}